# .editorconfig
root = true

[*]
indent_style = tab
indent_size = 3
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.blade.php]
indent_style = tab
indent_size = 3

[*.php]
indent_style = tab
indent_size = 3

[*.js]
indent_style = tab
indent_size = 3

[*.json]
indent_style = tab
indent_size = 3

[*.css]
indent_style = tab
indent_size = 3

[*.html]
indent_style = tab
indent_size = 3
